* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cairo;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
}

.login-page {
    width: 50%;
    max-width: 500px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
}

.login-page h2 {
    margin: 30px 0px 15px 0px;
}

.login-page p:last-of-type { 
    margin-top: 15px;
    color: gray;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 5px;}

.logo i {
    font-size: 22px;
    color: #007bff;
}

.logo h3 {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid blue;
    border-radius: 5px;
}

.password-field {
    position: relative;
    width: 100%;
}

.password-field i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: gray;
    font-size: 16px;
}

.password-field i:hover {
    color: black;
}

button {
    margin-top: 15px;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #333;
}


